*{
    margin: 20px     0px     0px     0px;
    padding: 0px;
    font-family: 'Gulzar', serif;
}

.container{
    width: 67.5%;
    margin: 0px     auto;
    /* background-color: aqua; */
}

.heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5rem;
}

.heading-p1{
    font-size: 1.2rem;
}

.heading-p2{
    font-size: 2rem;
}

.heading-p3{
    font-size: 1.2rem;
}

.menu{
    text-align: center;
    list-style-type: none;
    margin: 30px    10px    20px     10px;
    padding: 8px   0px     8px    0px;
    border-top: 2px  solid   black;
    border-bottom: 2px  solid   black;
}


li{
    display: inline;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    
}


li:hover{
    color: #ff4e4e;
    transition: 500ms;
}


.para{
    text-align: center;
    font-size: rem;
    font-weight: 600;
    line-height: 0;
}










